/*
 * Copyright (c) 2018 Bryan O'Donoghue
 * Copyright (c) 2024-2025 Gerson Fernando Budke <nandojve@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <freq.h>
#include <atmel/samd21.dtsi>
#include <atmel/samx2xx17.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "OCS RF 1";
	compatible = "atmel,samd21g17a", "atmel,samd21";  // Should add  <prefix>, ocs-rf-1 at the beginning, idk the vendor

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		led0 = &led0;
		sw0 = &user_button;

	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&portb 10 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
		compatible = "gpio-keys";

		user_button: button_0 {
			gpios = <&portb 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(48)>;
};